@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
:root {
  --ti-cursor-color: #4af626 ;
  --ti-cursor-font-size:18px;
}

body{
  background-color: black;
  color: white;
}

.nav-hr{
  border: 0.5px solid #4af626;
  box-shadow: 5px 5px 10px #4af626;
  width: 30%;
  margin: auto;
}